html, body, .main-header,.tabbed-primary-navigation a,.sub-header-wrapper, .aro-grid, .aro-grid-toggle, .sub-menu-link,
.nfDropDown.theme-lakira .label,.member-header, .profiles-container .profiles-container-active,.searchInput, .searchInput input, .account-drop-down,.sub-menu{
    background: #eee!important;
    color: #121212!important;
}


/* header */

.row-header-title {
    color: #121212!important;
}


.aro-toggle .svg-icon-rows, .aro-toggle .svg-icon-grid{
    color: #121212!important;
}
/* profile */
#profileSelector a, #profileSelector .links a{
    color: #121212!important;
}
#profileSelector .profile-manage, #profileSelector .links  {
    background-color: #eee!important;
}

/* notifications */
.image-text-notification{
    background: #eee!important;
}

.header, .body, .age{
    color: #121212!important;
}

/* videos */
.progress-bar{
    background-color: #121212d8!important;
}


.aro-row-header{
    color: #121212!important;
}
.social-links a,.icon-search{
    color: #121212!important;
}

.caret, .profile-arro, .aro-row-toggle, .aro-grid{
    border: 1px solid #121212!important;
}
.ptrack-content a{
    color: #121212!important;
}


/* preview mode */
.label, .previewModal--detailsMetadata.detail-modal,.titleGroup--wrapper, .previewModal--info,.previewModal--metadatAndControls-container{
    background-color: #eee!important;
    color: #121212!important;
}
.detail-modal-container{
    background: #eee ;
}

.videoMetadata--second-line, .evidence-text{
    color: #121212!important;
}

.player-feature-badge,.maturity-number{
    color: #121212!important;
    border: 1px solid #121212!important;
}

.previewModal--tags-label{
    color: black!important;
}
.tag-item a, .tag-more a,.summary{
    color: #121212;
}

.previewModal--metadatAndControls .previewModal--metadatAndControls-container .previewModal-progress .summary{
    color: #121212!important;
}

.episodeSelector,.moreLikeThis--wrapper,.about-wrapper,.titleCard--metadataWrapper,.trailersAndMore--wrapper,.dropdown-toggle,.episodeSelector-dropdown{
    color: #121212!important;
    background-color: #eee!important;
}
.episodeSelector .episodeSelector-container .episode-item.current{
    background-color: #d8d8d8!important;
}
.titleCard-title_index,.titleCard-title_text,.titleCard-synopsis{
    color: #121212!important;
}
.titleCard-playIcon{
    color: #eee;
}
.section-divider{
    background-image: none!important;
}
